{{extend 'layout.html'}}

<div class="container">
	<div class='text-pol'>
		<h3>FAQ</h3>
		<h6>1-Quantas pesquisas o serviço disponibiliza por usuário?</h6>
		<div class="ident-1">
			<p>R: Limite de 150 pesquisas diárias por usuários.</p>			
		</div><!--/ident-1-->
		<br>

		<h6>2-Consigo fazer pesquisas em quais idiomas?</h6>
		<div class="ident-1">
			<p>R: No momento a pesquisa é realizada retornando as análises no idioma português brasileiro.</p>
		</div><!--/ident-1-->
		<br>

		<h6>3-As consultas oferecidas são gratuitas?</h6>
		<div class="ident-1">
			<p>R: O serviço é oferecido gratuitamente durante um período que será determinado pela própria empresa responsável pelo Bustrends, sendo determinado créditos por um pacote de tweets.</p>			
		</div><!--/ident-1-->
		<br>
	</div><!--/text-pol-->
</div><!--/container-->