{{extend 'layout.html'}}
<br>
<div class="container">
	<!--Logo Bstrends-->
	<div class="row center">
		<img class="responsive-img" src="{{=URL('static', 'images/logo_bustrends_beta.png')}}" alt="">
	</div>
	<div class="row center">
      <h5 class="header col s12 light">Um sistema de mapeamento de Opiniões em redes Sociais</h5>
    </div>
    <!--Botão login no twitter, termos e política de privacidade-->
    <div class="row center">
      <div class="header col s12 light">
        <a href="{{=URL('default', 'twitter')}}"><img class="responsive-img" src="{{=URL('static', 'images/sign_inTwitter.png')}}" /></a>
        <p>Ao clicar concordo com os <a href="{{=URL('default', 'termos')}}" target="_blank">Termos</a> e com a <a href="{{=URL('default', 'politicas')}}" target="_blank">Política de Privacidade</a></p>
      </div>
    </div>
    <!--Animação-->
    <div class="row center">
    	<img src="{{=URL('static', 'images/animacao_bustrends_completa.gif')}}" class="responsive-img">	
    </div>    
	<!--ìcones e descrição-->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Pesquisas Dinâmicas</h5>
          <p class="light"></p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Analise de Sentimentos</h5>
          <p class="light"></p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Fácil de Usar</h5>
          <p class="light">.</p>
        </div>
      </div>
    </div>
    <!--Vídeo-->
    <div class="row center">
    	<div class="video-container">
		    <iframe width="300" height="250" src="https://www.youtube.com/embed/B62OpeZ5_es" frameborder="0" allowfullscreen=0></iframe>
		</div>
    </div>
    <br><br>
    <!--Logo Unova-->
    <div class="row">
      <p>Participação:</p>
    </div>
    <div class="row center">
    	<div class="col s12 m6 offset-m3">          
    	   	<img class="responsive-img" src="{{=URL('static', 'images/Unova_ass_-_Geral.jpg')}}" alt="">
    	</div>
    </div>
     <div class="row">
      <p>Um serviço:</p>
    </div>
    <div class="row center">
      <div class="col s12 m4 offset-m4">          
          <img class="responsive-img" src="{{=URL('static', 'images/reportolive-2.png')}}" alt="">
      </div>
    </div>
    <div class="row center">
      <div class="col s4 m4 offset-s3 offset-m5 sobrefaq-ico" style="background:#8DC043;width:60px;height:50px;">
        <a href="{{=URL('default', 'faq')}}" target="_blank"><img src="{{=URL('static', 'images/icone-faq.svg')}}" alt="FAQ"></a>        
      </div>
      <div class="col s4 m4 sobrefaq-ico" style="background:#43AD4C;width:60px;height:50px;margin-left:20px;">
        <a href="{{=URL('default', 'sobre')}}" target="_blank"><img src="{{=URL('static', 'images/icone-sobre.svg')}}" alt="SOBRE"></a>        
      </div>    	
    </div>
    <br><br>
    <div class="row center">
      <div class="col s12 m4 offset-m4">
        <a href='https://play.google.com/store/apps/details?id=br.com.jabuticabads.bustrendsweb&hl=pt-BR&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank">
          <img class="responsive-img" alt='Disponível no Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/pt-br_badge_web_generic.png'/>
        </a>
      </div>
    </div>
</div>