{{extend 'layout.html'}}

<div class="container">
	<div class='text-pol'>
		<h3>Política de Privacidade</h3>
		<h6>I. TERMINOLOGIAS</h6>
		<div class="ident-1">
			<p>1.1 “Site”: Website localizado na URL <a href="http://bustrends.com/bustrends">bustrends.com/bustrends</a>.</p>
			<p>1.2 “Bustrends” ou “Software”: Plataforma online/software, disponibilizado no Site, utilizado para o gerenciamento de mídias sociais, por meio da monitoria e estatística de dados.</p>
			<p>1.3 “UNOVA”: Tecnosoft Sistemas e Informática Ltda. com sede na cidade de São Paulo, Estado de São Paulo, na Rua das Grumixamas, 799, 04349-000 - Jabaquara, inscrita no CNPJ/MF sob o nº 07.219.902/0001-62, proprietária do Site.</p>	
			<p>1.4 “Serviço(s)”: Serviços de gerenciamento de mídias sociais, por meio da monitoria e estatística de dados, oferecido pela UNOVA no Site, por meio do BUSTRENDS.</p>
			<p>1.5 “Usuário(s)”: Qualquer pessoa, física ou jurídica, que efetivar o Cadastro localizado no Site.</p>
			<p>1.6 “Cadastro”: Trata-se do preenchimento dos Dados Pessoais do Usuário solicitados no Site e a consequente contratação do Serviço pelo Usuário, obtendo uma licença de uso do BUSTRENDS, não exclusiva, intransferível e não definitiva.</p>
			<p>1.7 “Dados Pessoais”: São os dados fornecidos pelo Usuário no Cadastro.</p>
			<p>1.8 “Termos e Condições de Uso do BUSTRENDS”: Documentos que regulamenta a contratação dos Serviços e a licença do Software, pela UNOVA aos Usuários.</p>
		</div><!--/ident-1-->
		<br>

		<h6>II. OBJETO</h6>
		<div class="ident-1">
			<p>2.1 O presente documento é complementar aos Termos e Condições de Uso do BUSTRENDS e tem por objeto regulamentar o uso dos Dados Pessoais fornecidos pelos Usuários à UNOVA, quando da contratação dos Serviços.</p>
		</div><!--/ident-1-->
		<br>

		<h6>III. RESPONSABILIDADES DA BUSTRENDS E POLÍTICA DE PRIVACIDADE</h6>
		<div class="ident-1">
			<p>3.1 Os Dados Pessoais fornecidos pelos Usuários no Cadastro são para uso exclusivo da UNOVA, no Brasil e em qualquer outro país em que os Serviços sejam prestados, comprometendo-se a UNOVA a utilizar os Dados Pessoais prestados pelos Usuários de forma legal, somente para os fins descritos nos Termos e Condições de Uso do BUSTRENDS, não devendo divulgá-las para quaisquer terceiros, em nenhuma hipótese.</p>
			<p>3.2 A UNOVA tomará todas as medidas cabíveis para preservar e manter o sigilo dos Dados Pessoais fornecidos pelos Usuários, porém não responderá por danos decorrentes de eventual violação de tais medidas por parte de terceiros que utilizam as redes públicas ou a internet de forma ilegal, corrompendo os sistemas de segurança para acessar as informações do Site e, consequentemente, dos seus Usuários, que, pelo presente documento, se declaram cientes de tais riscos.</p>
			<p>3.3 Tendo em vista que o Site é feito por meio virtual, a UNOVA não se responsabiliza pelos prejuízos que possam eventualmente ocorrer nas informações, dados e conteúdos do Usuário ou pela presença de vírus ou de outros elementos nocivos a sistemas eletrônicos, alheios ao seu controle.</p>
		</div><!--/ident-1-->
		<br>

		<h6>IV. DISPOSIÇÕES FINAIS</h6>
		<div class="ident-1">
			<p>4.1 Se eventual determinação legal anular ou tornar ineficaz qualquer das disposições do presente instrumento, permanecerão válidas as suas demais condições, exceto se o efeito da referida determinação, a critério da UNOVA, vier a afetar a viabilidade de manter o Site e os Serviços.</p>
			<p>4.2 Os encargos cobrados pelo provedor de internet e operadora de serviços de telecomunicação (WAP, GPRS) de escolha do Usuário, bem como os impostos aplicáveis serão de responsabilidade do Usuário.</p>
			<p>4.3 A abstenção do exercício, por qualquer das partes, de direito ou faculdade que lhe assistam em razão do presente instrumento, ou a concordância com o descumprimento das obrigações da outra parte, não afetará aquele direito ou faculdade, os quais poderão ser exercidos, a qualquer tempo, a exclusivo critério de seu titular e tampouco alterará as condições pactuadas nesse instrumento.</p>
		</div><!--/ident-1-->
	</div><!--/text-pol-->
</div><!--/container-->