{{extend 'layout.html'}}

<div class="container">
	<div class='text-pol'>
		<h3>SOBRE</h3>
		<p>O Bustrends é um serviço de métricas e análise de sentimentos de conteúdos compartilhados nas redes sociais, com o diferencial de apresentar esses dados a partir da geolocalização escolhida.</p>
		<p>Acreditamos que essa ferramenta pode estar ao alcance de empresas e profissionais de todas as esferas. Ao acompanhar em tempo real a opinião do seu público, é possível tomar melhores decisões para campanhas, produtos e serviços.</p>
		<p>O Bustrends faz parte do Reportolive, uma startup de métricas para serviços online integrados. Com esse projeto, visamos ser referência em métricas preditivas e operacionais. Temos participação da Unova, alinhada na mesma missão e valores: disponibilidade, confiabilidade, integridade, acessibilidade e previsibilidade.</p>
	</div><!--/text-pol-->
</div><!--/container-->